body {
  margin: auto;
  width: 1240px;
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;

  @media (max-width: $mobile) {
    margin: 0 12px;
    width: auto;
  }

  li {
    display: block;
  }
}
