body {
  margin: auto;
  width: 1240px;
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;

  @media (max-width: $mobile) {
    margin: 0 12px;
    width: auto;
  }

  p,
  a,
  li {
    font-size: 1.3rem;

    @media (max-width: $mobile) {
      font-size: 1rem;
    }
  }

  li {
    display: block;
  }
}
