body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  #root {
    margin: auto;
    width: 1240px;

    @media (max-width: $mobile) {
      width: auto;
      margin: 0 12px;
    }
  }

  p,
  a,
  li {
    font-size: 1.3rem;

    @media (max-width: $mobile) {
      font-size: 1rem;
    }
  }

  li {
    display: block;
  }
}
