.main_housing {
  margin: 40px 0;

  .carrousel {
    width: 100%;
    height: 415px;

    img {
      border-radius: 0 0 20px 20px;
      height: inherit;
      width: 100%;
    }
  }

  .title_host {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    color: $orange;

    .host {
      display: flex;

      img {
        border-radius: 100px;
        width: 100px;
        height: 100px;
        object-fit: contain;
      }

      p {
        width: 100px;
      }
    }

    .title p {
      margin-top: 10px;
    }

    h1 {
      margin: 0;
    }
  }

  .tag_rate {
    display: flex;
    justify-content: space-between;

    button {
      margin-right: 10px;
      border-radius: 10px;
      padding: 0 10px 0 10px;
      border: none;
      height: 30px;
      min-width: 115px;
      background-color: $orange;
      color: $white;
      font-size: 0.9rem;
    }
  }

  .details {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .name_text {
      width: 582px;
    }
  }
}
