.main_housing {
  margin: 40px 0;

  @media (max-width: $mobile) {
    margin: 20px 0 5px 0;
  }

  .housing_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px 0 20px 0;
    color: $orange;

    @media (max-width: $mobile) {
      margin: 16px 0 20px 0;
      flex-direction: column;
    }

    .title_tag {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      @media (max-width: $mobile) {
        gap: 12px;
      }

      .title p {
        margin: 0;
        font-size: 18px;
        font-weight: 500;

        @media (max-width: $mobile) {
          font-size: 14px;
        }
      }

      button {
        margin: 0 10px 5px 0;
        border-radius: 10px;
        padding: 0 10px 0 10px;
        border: none;
        height: 25px;
        min-width: 115px;
        background-color: $orange;
        color: $white;
        font-size: 14px;

        @media (max-width: $mobile) {
          min-width: 84px;
          height: 18px;
          font-size: 10px;
        }
      }

      h1 {
        margin: 0 0 10px 0;
        font-size: 36px;
        font-weight: 500;

        @media (max-width: $mobile) {
          width: 100%;
          font-size: 18px;
        }
      }
    }

    .host_rate {
      display: flex;
      flex-direction: column;

      @media (max-width: $mobile) {
        margin-top: 10px;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
      }

      .rate {
        margin-top: 10px;
        text-align: right;

        span {
          font-size: 38px;
          color: #e3e3e3;

          @media (max-width: $mobile) {
            font-size: 28px;
          }
        }

        @media (max-width: $mobile) {
          margin-top: 0;
        }
      }

      .host {
        display: flex;
        gap: 10px;

        img {
          border-radius: 100px;
          width: 64px;
          height: 64px;
          object-fit: contain;

          @media (max-width: $mobile) {
            width: 32px;
            height: 32px;
          }
        }

        p {
          margin-top: 10px;
          text-align: right;
          font-size: 18px;

          @media (max-width: $mobile) {
            font-size: 12px;
          }
        }
      }
    }
  }

  .collapses {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 60px;

    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 0;
    }

    .collapse_housing {
      width: 100%;
    }
  }
}
