.banner {
  position: relative;
  width: 100%;
  margin: 40px 0;

  h1 {
    position: absolute;
    top: 40%;
    z-index: 1;
    margin: 0;
    text-align: center;
    width: inherit;
    color: $white;
    font-size: 48px;
    font-weight: 300;

    @media (max-width: $mobile) {
      top: 25%;
      margin-left: 20px;
      width: auto;
      font-size: 24px;
      text-align: left;
    }
  }

  img {
    border-radius: 30px;
    width: inherit;
    height: 223px;
    object-fit: cover;
    filter: brightness(0.7);

    @media (max-width: $mobile) {
      height: auto;
      max-height: 120px;
    }
  }
}
