.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 15px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 18%;

    @media (max-width: $mobile) {
      justify-content: end;
      gap: 20px;
      width: auto;
    }

    li {
      display: block;

      a {
        text-decoration: none;
        color: $orange;
      }
    }
  }

  img {
    @media (max-width: $mobile) {
      width: 125px;
      height: 36px;
    }
  }
}
